<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

<section class="mat-typography">
  <div class="info-container" fxLayout="column" fxLayoutAlign="start center">
    <h1>{{info.sessionData.currentlyHeldProvince}}</h1>
    <mat-divider *ngIf="info.sessionData.currentlyHeldProvince"></mat-divider>

    <p *ngIf="info.sessionData.currentlyHeldProvince">{{provinceInfo | json}}</p>

    <p>isHoldingProvince: {{info.sessionData.isHoldingProvince}}</p>
    <p>currentlyHeldProvince: {{info.sessionData.currentlyHeldProvince}}</p>
    <p>isTargeting: {{info.sessionData.isTargeting}}</p>
    <p>lastTarget: {{info.sessionData.lastTarget}}</p>
    <p>showAttackArrow: {{info.sessionData.showAttackArrow}}</p>

  </div>
</section>
