.info-panel {
  background-color: white;

}

.horizontal {
  height:100vh;
  overflow-y: hidden;
}

.game-map-panel {
  height:100%;
  width:100%;

}

.land
{
  fill: #FFFFFF;
  fill-opacity: 1;
  stroke:black;
  stroke-opacity: 1;
  stroke-width:3;
}
