/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.main {
  background-image:url("/assets/old_map.png");
  background-repeat: repeat;
  background-size:200px 200px;
  margin: 0;
}
